[Container]
ContainerName=gopeed
Image=docker.io/liwei2633/gopeed:latest
Label=io.podman.compose.project=gopeed io.podman.compose.version=1.6.0 PODMAN_SYSTEMD_UNIT=podman-compose@gopeed.service com.docker.compose.project=gopeed com.docker.compose.project.working_dir=/var/home/pmustafi/Templates/gopeed com.docker.compose.project.config_files=compose.yml io.podman.compose.config-hash=5b13d3505e363cc34d8223c3bb10ac367c32cd645a78a4dc7e45c695936230fa com.docker.compose.container-number=1 io.podman.compose.service=gopeed com.docker.compose.service=gopeed
Network=gopeed_default:alias=gopeed
PodmanArgs=--pod pod_gopeed
PublishPort=9999:9999
Volume=/home/pmustafi/Downloads:/app/Downloads:Z

[Install]
WantedBy=default.target
