encryption = "age"
[git]
    autoCommit = true
    autoPush = true

[delta]
    side-by-side = true
    line-numbers = true
[age]
    identities = ["~/.config/chezmoi/keys.txt"]
    recipients = ["age1a9p2k3u40mvdntpad4ga7akvnnqqwm6eskfr2yxkgq3u9lp7jfns2wgqty", "age155th0ptdjf3gkp7pmzqcepe9kec9n3w32l87czf29fda4a2gj49ql0pg8a"]
